body {
  font-family: Arial;
  background: linear-gradient(135deg,#141e30,#243b55);
  color: white;
  text-align: center;
  padding: 20px;
}

.nav button {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.section {
  margin-top: 30px;
}

.hidden {
  display: none;
}

input {
  padding: 8px;
  margin: 10px;
}

#wristband {
  margin-top: 20px;
  padding: 20px;
  background: white;
  color: black;
  border-radius: 12px;
  display: inline-block;
}

.qr-box {
  margin-top: 10px;
}