body {
  font-family: Arial;
  background: #f4f6f9;
  text-align: center;
}

.container {
  width: 60%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

input, select {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 80%;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

.event-card {
  background: #eef2ff;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}

.green { color: green; }
.yellow { color: orange; }
.red { color: red; }